<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<site domain="http://www.phimbathu.com">
		<sleep_time>10000</sleep_time>
		<list_movie_wrapper>ul</list_movie_wrapper>
		<list_movie_wrapper_type>tag</list_movie_wrapper_type>
		<category>
			<item>
				<category_name>phim_hanh_dong</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-hanh-dong-3.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_vien_tuong</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-vien-tuong-12.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_vo_thuat</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-vo-thuat-5.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_tam_ly</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-tam-ly-2.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_hai_huoc</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-hai-huoc-1.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_hoat_hinh</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-hoat-hinh-7.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_phieu_luu</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-phieu-luu-8.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_kinh_di</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-kinh-di-4.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_hinh_su</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-hinh-su-9.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_chien_tranh</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-chien-tranh-10.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_than_thoai</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-than-thoai-11.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_vien_tuong</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-vien-tuong-12.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_co_trang</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-co-trang-13.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_khoa_hoc_tai_lieu</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-khoa-hoc-tai-lieu-14.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_co_trang</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-co-trang-13.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_am_nhac</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-am-nhac-15.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>anime</category_name>
				<start_url>http://phimbathu.com/the-loai/anime-21.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_han_quoc</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-han-quoc-6.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
			<item>
				<category_name>phim_chieu_rap</category_name>
				<start_url>http://phimbathu.com/the-loai/phim-chieu-rap-23.html</start_url>
				<next_page_token>?page=$next</next_page_token>
			</item>
		</category>
		<movies>
				<movie_item_wrapper>item</movie_item_wrapper>
				<movie_item_wrapper_type>class</movie_item_wrapper_type>
				<poster_wrapper>info</poster_wrapper>
				<episode_wrapper>list-episode</episode_wrapper>
				<item>
					<name>url</name>
					<wrapper></wrapper>
					<wrapper_type></wrapper_type>
					<prop_type>link</prop_type>
				</item>
				<item>
					<name>thumbnail</name>
					<wrapper></wrapper>
					<wrapper_type></wrapper_type>
					<prop_type>image</prop_type>
				</item>
				<item>
					<name>title</name>
					<wrapper>title</wrapper>
					<wrapper_type>class</wrapper_type>
					<prop_type>text</prop_type>
				</item>
				<item>
					<name>streamlink</name>
					<wrapper>adspruce-streamlink</wrapper>
					<wrapper_type>class</wrapper_type>
					<prop_type>link</prop_type>
				</item>
			</movies>
	</site>
</configuration>
